/* FONTS START */
@font-face {
  font-family: "Suisse";
  src: url("../fonts/fonnts.com-Suisse_Intl_Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Suisse";
  src: url("../fonts/fonnts.com-Suisse_Intl_Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Suisse";
  src: url("../fonts/fonnts.com-Suisse_Intl_Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RFDewiExpanded";
  src: url("../fonts/RFDewiExpanded-Bold.ttf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

/* FONTS END */

/* LAYOUT CSS END */
:root {
  --text-color-black: #0a090c;
  --text-color-white: #ffffff;
  --blue-color: #1f3483;
  --grey-color: #f0edee;
  --dark-grey: #505050;
  --red-color: #af0407;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Suisse", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

::placeholder {
  color: unset;
}
/* LAYOUT CSS END */

/* HEADER CSS START */
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  position: relative;
}
.header-wrapper .logo-wrapper {
  display: flex;
  align-items: end;
  gap: clamp(5px, 0.5vw, 10px);
}

.header-wrapper .logo-wrapper img {
  width: 35px;
  height: 35px;
}
.header-wrapper .logo-wrapper p {
  width: 100px;
  font-size: clamp(14px, 1vw, 15px);
  font-weight: 600;
  color: var(--text-color-black);
  text-transform: uppercase;
  line-height: 100%;
}

.header-wrapper .navbar-menu-wrapper .navbar-menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(10px, 1vw, 16px);
}
.header-wrapper .navbar-menu-wrapper .navbar-menu-list li a {
  font-size: 13px;
  font-weight: 400;
  color: var(--text-color-black);
}
.header-wrapper .navbar-menu-wrapper .navbar-menu-list li a.active {
  font-weight: 500;
}

.header-wrapper .langugage-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-wrapper .langugage-container .language-wrapper .btn {
  font-size: 13px;
  font-weight: 400;
  color: var(--text-color-black);
}
.header-wrapper .langugage-container .language-wrapper .dropdown-item {
  font-size: 13px;
  font-weight: 400;
  color: var(--text-color-black);
}
.header-wrapper .langugage-container .language-wrapper .btn:active {
  border-color: transparent;
}
.header-wrapper .langugage-container .language-wrapper .btn.show {
  border-color: transparent;
}
.show-btn {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color-white);
  background-color: var(--blue-color);
  padding: 9px 18px;
  border-radius: 4px;
}
.show-btn:hover {
  background-color: var(--text-color-white);
  color: var(--blue-color);
  border-color: var(--blue-color);
}
.show-btn:focus-visible {
  color: var(--text-color-white);
  background-color: var(--blue-color);
  border-color: var(--blue-color);
  outline: 0;
}
/* Скрываем бургер на больших экранах */
.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001; /* чтобы перекрывал меню */
}

.burger span {
  display: block;
  width: 100%;
  height: 3px;
  background: #000; /* цвет полосок */
  border-radius: 2px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(5px);
  z-index: 4;
}
.hidden {
  display: none;
}
.request-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 613px;
  background-color: var(--text-color-white);
  padding: clamp(16px, 1.5vw, 24px);
  z-index: 10;
  border-radius: 8px;
}
.request-modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.request-modal h3 {
  font-size: clamp(24px, 2vw, 32px);
  font-weight: 700;
  color: var(--blue-color);
  line-height: 100%;
}
.request-modal form .form-wrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(5px, 1.5vw, 24px);
}
.request-modal form .form-wrapper .form-list {
  display: flex;
  gap: clamp(5px, 1.5vw, 24px);
}
.request-modal form .form-wrapper .form-list .form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.request-modal form .form-wrapper .form-item p {
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 400;
  color: var(--text-color-black);
}
.request-modal form .form-wrapper .form-control {
  background-color: var(--grey-color);
}
.request-modal form .form-wrapper .form-control:focus {
  box-shadow: 0 0 0 0.05rem var(--blue-color);
}
.request-modal form .form-wrapper .form-select {
  background-color: var(--grey-color);
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 400;
  color: var(--dark-grey);
}
.request-modal form .form-wrapper .form-select:focus {
  box-shadow: 0 0 0 0.05rem var(--blue-color);
}
.request-modal form .form-wrapper textarea {
  height: 180px;
}
.request-modal form .form-wrapper textarea::placeholder {
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 400;
  color: var(--dark-grey);
}
.request-modal form .form-wrapper .form-check input {
  width: 18px;
  height: 18px;
}
.request-modal form .form-wrapper .form-check input:focus {
  box-shadow: none;
  border-color: #dee2e6;
}

.request-modal form .form-wrapper .form-check label {
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 400;
  color: var(--text-color-black);
}
.request-modal .send-btn {
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 400;
  background-color: var(--blue-color);
  color: var(--text-color-white);
  padding: 9px 18px;
  border-radius: 4px;
  margin-top: clamp(10px, 1.5vw, 24px);
}
/* HEADER CSS END */

/* MAIN CSS START */
.banner-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 755px;
  border-radius: 40px;
  /* border-radius: clamp(20px, 3vw, 40px); */
}
.banner-wrapper .banner-content {
  width: 100%;
  max-width: 611px;
  display: flex;
  flex-direction: column;
  gap: clamp(10px, 1vw, 16px);
  padding: 200px 0;
}
.banner-wrapper .banner-content h1 {
  font-size: clamp(24px, 3vw, 48px);
  font-weight: 700;
  color: var(--text-color-white);
  font-family: "RFDewiExpanded", "sans-serif";
  line-height: 100%;
  margin: 0;
}
.banner-wrapper .banner-content p {
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 400;
  color: var(--text-color-white);
  line-height: 140%;
}
.banner-wrapper .banner-content .banner-btn-wrapper {
  display: flex;
  align-items: center;
  gap: clamp(10px, 1vw, 16px);
}

.banner-wrapper .banner-content .banner-btn-wrapper .left-btn {
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 500;
  padding: 9px 18px;
  border-radius: 4px;
  background-color: var(--blue-color);
  color: var(--text-color-white);
}

.banner-wrapper .banner-content .banner-btn-wrapper .left-btn:hover {
  background-color: var(--text-color-white);
  color: var(--blue-color);
}

.banner-wrapper .banner-content .banner-btn-wrapper .right-btn {
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 500;
  padding: 9px 18px;
  border-radius: 4px;
  background-color: var(--text-color-white);
  color: var(--blue-color);
}

.banner-wrapper .banner-content .banner-btn-wrapper .right-btn:hover {
  background-color: var(--blue-color);
  color: var(--text-color-white);
}
/* about collegue start*/
.about-collegue-section {
  position: relative;
}
/* .about-collegue-wrapper {
  background-color: var(--text-color-white);
  border-radius: 40px;
  padding: clamp(60px, 10vw, 120px) 0;
  position: absolute;
  width: 100%;
  top: -114px;
} */

.about-collegue-wrapper {
  background-color: var(--text-color-white);
  border-radius: 40px;
  padding: clamp(60px, 10vw, 120px) 0 0;
  position: relative; /* или вообще убрать position */
  top: -114px;
}
.about-collegue-wrapper .about-collegue {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: clamp(14px, 1.5vw, 24px);
}
.about-collegue-wrapper .about-collegue h3 {
  font-size: clamp(24px, 2vw, 32px);
  font-weight: 700;
  color: var(--blue-color);
  line-height: 100%;
  font-family: "RFDewiExpanded", "sans-serif";
  margin: 0;
}
.about-collegue-wrapper .about-collegue p {
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 400;
  color: var(--text-color-black);
  line-height: 140%;
  width: 100%;
  max-width: 650px;
}

.about-collegue-wrapper .about-collegue .about-collegue-btn {
  border: 1px solid var(--blue-color);
  color: var(--blue-color);
  border-radius: 4px;
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 500;
  padding: 9px 18px;
}
.about-collegue-wrapper .about-collegue .about-collegue-btn:hover {
  background-color: var(--blue-color);
  color: var(--text-color-white);
}
/* about collegue end*/

/* fact section start */
.facts-section .facts-wrapper {
  background-color: var(--blue-color);
  padding: clamp(60px, 10vw, 120px) 0;
  border-radius: 40px;
  margin: 0 10px;
}

.facts-section .facts-wrapper .facts-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.facts-section .facts-wrapper h3 {
  font-size: clamp(24px, 2vw, 32px);
  font-weight: 700;
  color: var(--text-color-white);
  line-height: 100%;
  font-family: "RFDewiExpanded", "sans-serif";
  margin: 0;
}
.facts-section .facts-wrapper .fact-item-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(20px, 2vw, 40px);
}
.facts-section .facts-wrapper .fact-item-wrapper .fact-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: clamp(10px, 1vw, 16px);
}
.facts-section .facts-wrapper .fact-item-wrapper .fact-item h5 {
  font-size: clamp(16px, 1vw, 16px);
  font-weight: 700;
  color: var(--text-color-white);
  margin: 0;
}
.facts-section .facts-wrapper .fact-item-wrapper .fact-item p {
  font-size: clamp(16px, 1vw, 16px);
  font-weight: 400;
  color: var(--text-color-white);
  line-height: 140%;
  margin: 0;
}
.facts-section .facts-wrapper .fact-item-wrapper .fact-item .fact-btn {
  background-color: var(--text-color-white);
  color: var(--blue-color);
  border-radius: 4px;
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 500;
  padding: 9px 18px;
}
.facts-section .facts-wrapper .fact-item-wrapper .fact-item .fact-btn:hover {
  background-color: var(--blue-color);
  color: var(--text-color-white);
  border-color: var(--text-color-white);
}
/* fact section end */

/* calenadr section start */
.seminar-wrapper {
  margin: clamp(60px, 10vw, 120px) 0;
}
.seminar-wrapper .events-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: clamp(24px, 3vw, 48px);
  padding: 0 0.5rem;
}

.seminar-wrapper .events-section .events-title {
  font-size: clamp(24px, 2vw, 32px);
  font-weight: 700;
  color: var(--blue-color);
  line-height: 100%;
  font-family: "RFDewiExpanded", "sans-serif";
  margin: 0;
}
.seminar-wrapper .events-section .calendar-wrapper {
  border: 1px solid var(--blue-color);
  border-radius: 4px;
  padding: 10px 16px;
}
.seminar-wrapper .events-section .calendar-wrapper p {
  font-size: 14px;
  font-weight: 600;
  color: var(--blue-color);
}

.seminar-wrapper .calendar-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.calendar-wrapper input[type="date"] {
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  color: transparent; /* скрываем текст */
  font-size: 0; /* убираем текстовый ввод */
  cursor: pointer;
}

/* скрываем рамку и делаем прозрачным фон */
.calendar-wrapper input[type="date"]::-webkit-datetime-edit,
.calendar-wrapper input[type="date"]::-webkit-inner-spin-button,
.calendar-wrapper input[type="date"]::-webkit-clear-button {
  display: none;
}

/* оставляем только иконку календаря */
.calendar-wrapper input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  width: 24px;
  height: 24px;
  opacity: 1; /* делаем иконку видимой */
}

/* Чтобы в Firefox тоже скрыть текст */
.calendar-wrapper input[type="date"]::-moz-focus-inner {
  border: 0;
}

.seminar-card-wrapper .card-wrapper {
  position: relative;
}

.seminar-card-wrapper .card-wrapper .card-img {
  position: relative;
  overflow: hidden;
}

.seminar-card-wrapper .card-wrapper .card-img .green-tag {
  position: absolute;
  background-color: var(--blue-color);
  border-radius: 4px;
  color: var(--text-color-white);
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 400;
  top: 16px;
  left: 16px;
}
.seminar-card-wrapper .card-wrapper .card-img .red-tag {
  position: absolute;
  background-color: var(--red-color);
  border-radius: 4px;
  color: var(--text-color-white);
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 400;
  top: 16px;
  left: 16px;
}

.seminar-card-wrapper .card-wrapper .card-img .seminar-card-image {
  width: 100%;
}
.seminar-card-wrapper .card-wrapper .card-img .arrow-icon-wrapper {
  position: absolute;
  bottom: 16px;
  right: 16px;

  background-color: transparent;
  backdrop-filter: blur(20px);
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.seminar-card-wrapper .card-wrapper .card-img .arrow-icon-wrapper .arrow-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 5px;
  color: var(--text-color-white);
}

.seminar-card-wrapper .card-wrapper .card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}
.seminar-card-wrapper .card-wrapper .card-content .card-date {
  color: var(--blue-color);
  font-size: 14px;
  font-weight: 500;
}

.seminar-card-wrapper .card-wrapper .card-content .card-header {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-color-black);
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.seminar-card-wrapper .card-wrapper .card-content .card-description {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color-black);
  line-height: 140%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.seminar-card-wrapper .card-wrapper .card-content .card-btn {
  font-size: 15px;
  font-weight: 500;
  text-align: start;
  color: var(--blue-color);
  padding: 0;
  cursor: pointer;
}
.seminar-card-wrapper .card-wrapper .card-content .card-btn:active {
  border-color: transparent;
}

.seminar-card-wrapper .card-wrapper .card-content .card-btn::after {
  content: "";
  position: absolute;
  inset: 0;
}
/* calendar section end */
/* MAIN CSS END */
