@media (max-width: 1200px) {
  .container {
    padding: 0 10px;
  }
  .banner-wrapper {
    height: 655px;
    position: relative;
  }
}

@media (max-width: 992px) {
  .burger {
    display: flex;
  }

  nav {
    position: absolute;
    top: 80px;
    width: 100%;
    /* height: 100%; */
    background: #fff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
    transform: translateX(-100vw);
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1000;
    max-height: calc(
      100dvh - 80px
    ); /* 80px — высота хедера, подстрой при необходимости */
    overflow: auto;
    border-radius: 16px;
  }

  nav.active {
    transform: translateX(0);
    opacity: 1;
  }

  .navbar-menu-list {
    flex-direction: column;
    padding: 20px 20px 10px;
    gap: 15px;
  }

  .navbar-menu-item a {
    font-size: 18px;
    display: block;
  }
  .header-wrapper .show-btn {
    display: flex;
    margin: 0 auto 10px;
  }

  /* main */
  .banner-wrapper {
    height: 655px;
    position: relative;
  }
  .banner-wrapper .banner-content {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .about-collegue-wrapper .about-collegue {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .about-collegue-wrapper {
    top: -80px;
  }
  /* facts */
  .facts-section .facts-wrapper h3 {
    text-align: center;
  }
  .facts-section .facts-wrapper .fact-item-wrapper {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    row-gap: 40px;
  }
  .facts-section .facts-wrapper .fact-item-wrapper .fact-item {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .banner-wrapper {
    height: 555px;
  }
}

@media (max-width: 700px) {
  .seminar-wrapper .events-section {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .news-wrapper .events-section {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .partner-section-wrapper .partner-wrapper .partner-header h3 {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .banner-wrapper {
    height: 500px;
  }
  .banner-wrapper .banner-content .banner-btn-wrapper {
    flex-direction: column;
  }
  .request-modal form .form-wrapper .form-list {
    flex-direction: column;
  }
  .footer-item .useful-links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-item {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .copyright {
    text-align: center;
  }
}
